aside {
    background: #39f;
}

aside a {
    text-decoration: none;
    display: block;
    text-align: center;
}

.fa {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    direction: rtl;
}
